<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/studentdash.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet" />
    <title>Document</title>
     <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <div class="dashboard-section">
      <h1 class="dashboard-head">Dashboard</h1>
      <div class="container-btn">
        <div class="dashboard-btn activ"> Requests</div>
        <!-- <div class="dashboard-btn">Ongoing requwst</div>
        <div class="dashboard-btn ">Upcoming request</div> -->
      </div>
    </div>

    <div class="flex-column-dash mainc">

    <a href="/post" class="hoshiarpur">
      <ion-icon name="add-outline"></ion-icon>
    </a>
  </body>
  <script src="/js/studentDash.js"></script>
</html>